<h1>Booking</h1>
<p>Id: <%= @booking.id %></p>
<%= render 'shared/card' %>
<p>Route: <%= @minivan.departure.location if @minivan.departure %> - <%= @minivan.arrival.location if @minivan.arrival %></p>
<p>Time: <%= @minivan.departure_date %> - <%= @minivan.arrival_date %></p>
<p>Price: <%= @minivan.price %>€</p>
<p>Status: <%= @booking.status %></p>
<p>Owner of the van: <%= link_to "#{@driver.profile.first_name} #{@driver.profile.last_name}", user_path(@driver) if @driver %></p>
<p>Message: <%= @booking.message %></p>
<% if @user == current_user %>
  <%= link_to "Delete", user_minivan_booking_path(@user,@minivan,@booking), method: :delete, data: { confirm: "Are you sure that you want to delete the booking?"}, class: "btn btn-danger"%>
  <%= link_to "Modify booking", edit_user_minivan_booking_path(@user,@minivan,@booking) %>
<% elsif @driver == current_user %>
  <h3>Change booking status</h3>
  <p>Current status of the booking: <%= @booking.status %></p>
  <p>Change status:</p>
  <%= simple_form_for [@driver, @minivan, @booking] do |m|%>
    <%= m.input :status, collection: ["confirmed", "rejected"], as: :radio_buttons %>
    <%= m.submit "submit", class: "btn btn-primary" %>
  <% end %>
<% end %>


