<h1><%= @profile.first_name %> <%= @profile.last_name %></h1>
<% image_url = current_user.profile.facebook_picture_url || "http://placehold.it/30x30" %>
<%= image_tag image_url, width: 50 %>
<h2>Driver license</h2>
<p><%= @profile.first_name %>
  <% if @profile.driver_license %>
    <%= " has a driver license." %>
  <% else %>
    <%= " does not have a driver license." %>
  <% end %>
</p>
<h3>Minivans</h3>
<% if @minivans.empty? %>
  <p><%= "#{@profile.first_name} doesn't have any minivans to rent." %></p>
<% else %>
  <%= render 'shared/card' %>
<% end %>
<p><%= link_to "Add a minivan", new_user_minivan_path(@user) %></p>
