<div class="container">
  <div class="row">
    <% @minivans.each do |minivan| %>
      <div class="col-xs-12 col-sm-4">
      <% if minivan.picture %>
        <% photo= cl_image_path minivan.picture, height: 300, width: 400, crop: :fill %>
      <% else %>
        <% photo = "" %>
      <% end %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= photo %>')">
          <div class="card-category"><%= minivan.departure.location + " to " + minivan.arrival.location if minivan.departure && minivan.arrival %></div>
          <div class="card-description">
            <h4><%= minivan.price %>€</h4>
            <p><%= minivan.tagline %></p>
          </div>
          <div class= "card-user">
          <% if minivan.user && minivan.user.profile.facebook_picture_url %>
            <% minivan_url = minivan.user.profile.facebook_picture_url %>
          <% else %>
            <% minivan_url = "http://placehold.it/30x30" %>
          <% end %>
          <%= image_tag minivan_url, class:"avatar" %>
          </div>
          <%= link_to "", user_minivan_path(minivan.user, minivan), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


